@model SchoolListViewModel
@using MvcWebUI.Models.ChartJs
@{
    Chart chart = new Chart
    {
        Title = "Okul Sayısı",
        Labels = Model.Schools.Select(x => x.City).ToList(),
        Data = Model.Schools.Select(x => Convert.ToString(x.NumberOfPublicSchool)).ToList(),
        ColorList= Model.Schools.Select(x => x.City).ToList(),
    };

    GraphicInit graphicInit = new GraphicInit
    {
        BackgroundColorList = new List<string> { BackgroundColor.red, BackgroundColor.blue, BackgroundColor.yellow, BackgroundColor.tomato },
        ChartType =ChartType.Bar,
        Title = "Okul Sayısı",
        LegendPositon =Position.Bottom
    };
}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Bar Chart
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("ChartjsBarChart", chart)
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Line Chart</div>
            <div class="card-body">
                @await Component.InvokeAsync("ChartjsLineChart", chart)
            </div>
            <!-- /.card-body -->
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Doughnut Chart</div>
            <div class="card-body">
                @await Component.InvokeAsync("ChartjsDoughnutChart", chart)
            </div>
            <!-- /.card-body -->
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Pie Chart</div>
            <div class="card-body">
                @await Component.InvokeAsync("ChartjsPieChart", chart)
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Advanced Chart</div>
            <div class="card-body">
                @await Component.InvokeAsync("ChartjsAdvanced", graphicInit)
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <td>City</td>
        <td>PublicSchool</td>
    </tr>
    @foreach (var school in Model.Schools)
    {
        <tr>
            <td>@school.City</td>
            <td>@school.NumberOfPublicSchool</td>
        </tr>
    }
</table>






