@model SchoolListViewModel
@{
    Chart chart = new Chart
    {
        Title = "Okul Sayısı",
        Labels = Model.Schools.Select(x => x.City).ToList(),
        Data = Model.Schools.Select(x => Convert.ToString(x.NumberOfPublicSchool)).ToList()
    };
}
<table class="table table-bordered">
    <tr>
        <td>City</td>
        <td>PublicSchool</td>
    </tr>
    @foreach (var school in Model.Schools)
    {
        <tr>
            <td>@school.City</td>
            <td>@school.NumberOfPublicSchool</td>
        </tr>
    }
</table>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            Bar Chart
        </div>
        <div class="card-body">
            @await Component.InvokeAsync("ChartjsBarChart", chart)
        </div>
    </div>
</div>


<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">Line Chart</div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                @await Component.InvokeAsync("ChartjsLineChart", chart)
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
